doctype html
html
	head
		title=title
		script(src='./socket.io.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
	body
		H1 #{title}
		script(type='text/javascript').
			$(function () { 	
				var socket = io.connect('http://35.160.245.86:3000');
				socket.on('message', function(data){
					$("#message_block").empty();
					data.map((obj, i)=>{
						$("#message_block").append("<div style='border: solid 1px;' id=m" + i + "><p></p><p></p><p></p></div>");
						$("#m"+i+" p:eq(0)").text(obj.author + ' ' + obj.email)
						$("#m"+i+" p:eq(1)").text(obj.content)
						$("#m"+i+" p:eq(2)").text(obj.time)
					})
					//$('#author').val('')
					//$('#email').val('')
					//$('#content').val('')
					document.getElementById("content").focus();
				}); 
				socket.on('validError', function(data){
					alert(data)
				}); 
				$("#submit").click(function() {
					var post = {
						author: $('#author').val(), 
						email: $('#email').val(),
						time: $('#time').val(),
						content: $('#content').val()
					}
					socket.emit('message', post);
				});
				setInterval(function(){
					$('#time').val(new Date());
				}, 1000);
			});
	div#message_block
	form(method='post')
		p author
			input#author(name='author')
		p email
			input#email(name='email')
		p time
			input#time(name='time', style='width:250px;', readonly)
		p content
			input#content(name='content')
		input#submit(type='button', value='submit')
